.expand-data {
    border-radius: 20px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #007ac9;
    .station {
        padding: 32px;
        width: 100%;
        text-align: left;
        color: #fff;
        .station-heading {
            display: flex;
            justify-content: space-between;
            h1,h4 {
                color: #fff;
            }
        }
        .arrow-btn {
            div {
                cursor: pointer;
                margin: 0 !important
            }
        }
        .ant-row {
            .station-info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h4 {
                    color: #fff;
                }
                
            }
        }
        
    }
    

}    