@import '~leaflet/dist/leaflet.css';

.table-container {
    width: 100%;
    max-width: 1440px;
    padding-top: 120px;
    .btn-add {
        background: #007ac9;
        color: #fff;

    }
    div {
        .ant-table-wrapper {
            padding: 0 32px;
        }
    }
    .miniTable-container {
        margin: 50px 0;
    }
}

.leaflet-container {
    width: 100wh; 
    height: 100vh;
    img {
        max-width: 20px !important;
    }
    .leaflet-top,
    .leaflet-bottom {
        z-index: 999 !important;
    }
  }
