@import '~leaflet/dist/leaflet.css';

.table-container {
    width: 100%;
    max-width: 1440px;
    padding: 100px 0;
    .btn-add {
        background: #007ac9;
        color: #fff;

    }
    div {
        .ant-table-wrapper {
            padding: 0 32px;
        }
    }
}

.leaflet-container {
    width: 100wh; 
    height: 100vh;
    img {
        max-width: 20px !important;
    }
  }
